
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
.event {
	.event-title {
		font-size: 1.5625rem;
		font-family: $heading-font;
		color: $heading-color;
		line-height: 1.3;
		text-transform: uppercase;
		font-weight: 600;
	}
}

#map {
	margin-bottom: 4rem;
}
