
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #151515;
	line-height: 1;

	#footer-main {
		padding-top: 4.3rem;
		padding-bottom: 1.6875rem;

		p {
			color: white;
		}
		
		hr {
			background-color: white;
			margin: 0;
			margin-top: 1rem;
			@include media-breakpoint-up(xl) {
				width: 67%;
			}
		}
	}

	#footer-bottom {
		padding-bottom: 3.875rem;
		padding-top: 1.5rem;
	}
}