
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/


#page-title {
	position: relative;
	
	.title {
		color: white;
		font-weight: 400;
		font-size: 5rem;

		@include media-breakpoint-up(lg) {
			font-size: 9.3rem;
		}
	}

	.sub-title {
		display: block;		
		font-family: $heading-font;
		font-weight: 400;
		line-height: 1;
		color: black;
		line-height: 1;
	}
}

.breadcrumb {
	display: flex;
	align-items: center;
	line-height: 1 !important;
	
	a {
		color: $heading-color;
		display: block;
		font-size: $h5-font-size;
		font-weight: 500;
		opacity: 0.4;
		margin-right: 1rem;
		
		&:hover {
			color: $theme-color;
			opacity: 1;
			font-weight: 600;
		}
	}
}