
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
  li {
		margin-bottom: 1rem;

		a {
			color: #35b056;
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.7;
		}

		p {
			margin-left: 1.5rem;
		}
	}
}

